.generic-datagrid-container {
    height: 100%;
    width: 100%;
    position: relative;
}

    /* Grid overlay (Full screen - bottom/right) */
    .generic-datagrid-container .overlay-full-screen {
        position: absolute;
        bottom: 24px;
        right: 2px;
        height: 32px;
        width: 16px;
        margin: 0;
        padding: 1px;
        background: transparent;
        cursor: pointer;
        color: white;
        z-index: 2;
        font-size: 10px
    }
