################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AllProjects/GaWebApp/bin/Debug/net6.0
