@using GuitarAlchemistChatbot.Components.Shared
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <ThemeToggle/>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development" ? "An error has occurred. This
    application may no longer respond until reloaded." : "An unexpected error has occurred."
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
