@inject IChatClient ChatClient

@if (_suggestions is not null)
{
    <div class="page-width suggestions">
        @foreach (var suggestion in _suggestions)
        {
            <button class="btn-subtle" @onclick="@(() => AddSuggestionAsync(suggestion))">
                @suggestion
            </button>
        }
    </div>
}

@code {

    private static readonly string _prompt = @"
        Suggest up to 3 follow-up questions that I could ask you to help me complete my task.
        Each suggestion must be a complete sentence, maximum 6 words.
        Each suggestion must be phrased as something that I (the user) would ask you (the assistant) in response to your previous message,
        for example 'How do I do that?' or 'Explain ...'.
        If there are no suggestions, reply with an empty list.
    ";

    private string[]? _suggestions;
    private CancellationTokenSource? _cancellation;

    [Parameter] public EventCallback<ChatMessage> OnSelected { get; set; }

    public void Clear()
    {
        _suggestions = null;
        _cancellation?.Cancel();
    }

    public void Update(IReadOnlyList<ChatMessage> messages)
    {
        // Runs in the background and handles its own cancellation/errors
        _ = UpdateSuggestionsAsync(messages);
    }

    private async Task UpdateSuggestionsAsync(IReadOnlyList<ChatMessage> messages)
    {
        _cancellation?.Cancel();
        _cancellation = new CancellationTokenSource();

        try
        {
            var response = await ChatClient.GetResponseAsync<string[]>(
                [.. ReduceMessages(messages), new(ChatRole.User, _prompt)],
                useNativeJsonSchema: true, cancellationToken: _cancellation.Token);
            if (!response.TryGetResult(out _suggestions))
            {
                _suggestions = null;
            }

            StateHasChanged();
        }
        catch (Exception ex) when (ex is not OperationCanceledException)
        {
            await DispatchExceptionAsync(ex);
        }
    }

    private async Task AddSuggestionAsync(string text)
    {
        await OnSelected.InvokeAsync(new(ChatRole.User, text));
    }

    private IEnumerable<ChatMessage> ReduceMessages(IReadOnlyList<ChatMessage> messages)
    {
        // Get any leading system messages, plus up to 5 user/assistant messages
        // This should be enough context to generate suggestions without unnecessarily resending entire conversations when long
        var systemMessages = messages.TakeWhile(m => m.Role == ChatRole.System);
        var otherMessages = messages.Where((m, _) => m.Role == ChatRole.User || m.Role == ChatRole.Assistant).Where(m => !string.IsNullOrEmpty(m.Text)).TakeLast(5);
        return systemMessages.Concat(otherMessages);
    }

}
