@inherits LayoutComponentBase
@using MudBlazor

<PageTitle>
    GmAm.WebBlazorAmpp
</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
